body {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .container {
    text-align: center;
    max-width: 400px;
    width: 100%;
  }

  
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
  }
  
  .formulario input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
