

.doar-section{
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.doar-section h1{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.doar-section p{
    margin-bottom: 25px;
    font-size: 1rem;
    color: #555;
}

.form-doar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.form-doar label {
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-doar input,
.form-doar select,
.form-doar textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    transition: 0.3s;
}

.form-doar input:focus,
.form-doar select:focus,
.form-doar textarea:focus{
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}

.form-doar textarea{
    resize: vertical;
    min-height: 80px;
}




