body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.container{
    text-align: center;
    max-width: 400px;
    width: 100%;
}




