body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {

    text-align: center;
    width: 100%;
    max-width: 400px;
}

  .formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
  }

  .formulario label {
    font-weight: 600;
    color: #333;
  }
  
  .formulario input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }

